<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.racecondition.ribbit.app"
    android:versionCode="2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.racecondition.ribbit.app.RibbitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Ribbit"
        android:debuggable="false" >
        <activity
            android:name=".com.racecondition.ribbit.app.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".com.racecondition.ribbit.app.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".com.racecondition.ribbit.app.ui.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".com.racecondition.ribbit.app.ui.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.racecondition.ribbit.app.LoginActivity" />
        </activity>
        <activity
            android:name=".com.racecondition.ribbit.app.ui.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".com.racecondition.ribbit.app.ui.EditFriendsActivity"
            android:label="@string/title_activity_edit_friends"
            android:parentActivityName=".com.racecondition.ribbit.app.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".com.racecondition.ribbit.app.ui.RecipientsActivity"
            android:label="@string/title_activity_recipients"
            android:parentActivityName=".com.racecondition.ribbit.app.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".com.racecondition.ribbit.app.ui.ViewImageActivity"
            android:label="@string/title_activity_view_image"
            android:parentActivityName=".com.racecondition.ribbit.app.ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.racecondition.ribbit.app.MainActivity" />
        </activity>
    </application>

</manifest>
